CRM_DB_NAME=assets_crm
CRM_DB_ADMIN_USER=crm_admin
CRM_DB_ADMIN_PASSWORD=CHANGE_ME_LONG_RANDOM_SECRET
CRM_DB_APP_USER=crm_app
CRM_DB_APP_PASSWORD=CHANGE_ME_DIFFERENT_LONG_RANDOM_SECRET
CRM_DB_PORT=55433
CRM_API_PORT=8101
